body {
    margin: 0;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    touch-action: none;
}

.controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .7rem;
    margin-top: 1rem;
}

.control-btn {
    width: 100%;
    height: 6.5rem;
    margin: 0;
    padding: 0;
    border: solid 5px #45a049;
    border-radius: 25px;
    background: #e7eae7;
    touch-action: none;
    user-select: none;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version */
    touch-action: manipulation;
    /* Prevents zoom on double tap */
}

img {
    width: 80%;
    height: 80%;
}

.control-btn:active {
    background: #8ed692;
}